.body {
    margin: 0px;
    height: 4960px;
    width: 3508px;
    background-color: rgb(14, 14, 14);
    display: block;
    margin: auto;
    cursor: zoom-in;
    background-color: hsl(0, 0%, 100%);
    transition: 300ms;
}

@media(max-width: 320px) {
   .body{
        height: 500px;
        width: 400px
    }
}